body{
  background:green;
  box-sizing: border-box;
}


.top-corner{
  
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}

.card{
  text-align: center;
  display: inline-block;
  background: white;
  margin: auto;
  height: 200px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 25px;
  border: 1px solid black;
  position: relative;
  font-size: 70px;

  

}

.bottom-corner{
  
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

/*  SPADE */
.top-corner .spade{
  content: "\2660";
}

.bottom-corner .spade{
  content: "\2660";
}

/*  CLUB  */
.top-corner .club{
  content: "\2663";
}

.bottom-corner .club{
  content: "\2663";
}


/* HEART  */
.top-corner .hearts{
  content: "\2665";
  color: red;
}

.bottom-corner .hearts{
  content: "\2665";
  color: red;
}

/* diamond  */
.top-corner .diams{
  content: "\2666";
  color: red;
}

.bottom-corner .diams{
  content: "\2666";
  color: red;
}







